body{
    /* background-color: #56764c; */
    background-image: linear-gradient(to right, #007fff , #00ffaa);
}

#container {
    position: relative;
}

#ball {
    width: 20px;
    height: 20px;
    /* background-color: #ffeb3b; */
    background: radial-gradient(ellipse at center, #fb83fa 0%,#e93cec 100%);
    position: fixed;
    top: 320px;
    left: 50%;
    /* left: 52.5%; */
    border-radius: 50%;
}

#rod1, #rod2 {
    height: 20px;
    width: 250px;
    position: fixed;
    left: 44%;
    /* left: 50%; */
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#rod1 {
    background: radial-gradient(ellipse at center, #627d4d 0%,#1f3b08 100%);
    top: 0px; 
    border-top-right-radius: 13rem;
    border-top-left-radius: 13rem;   
}

#rod2 {
    background: radial-gradient(ellipse at center, #a90329 0%,#8f0222 44%,#6d0019 100%);
    bottom: 0px;
    border-bottom-right-radius: 13rem;
    border-bottom-left-radius: 13rem;
}
